; begin auth token
; The lines between begin and end auth may be stripped by the build server in cases where the NPM_TOKEN
; cannot be provided. In its place the build server will updated the npmrc with the required connection
; strings.
//offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/registry/:username=offnet
//offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/registry/:_password=c2xld2I3ZnliN29vNnNzeXc3cmc3dXZ5aXo0NWh2c2Ztd3dzZTJteXFrY212M29iY2pzYQ==
//offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/:username=offnet
//offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/:_password=c2xld2I3ZnliN29vNnNzeXc3cmc3dXZ5aXo0NWh2c2Ztd3dzZTJteXFrY212M29iY2pzYQ==
; end auth token
export NPM_TOKEN=c2xld2I3ZnliN29vNnNzeXc3cmc3dXZ5aXo0NWh2c2Ztd3dzZTJteXFrY212M29iY2pzYQ==

registry=https://registry.npmjs.org/
always-auth=false

@microsoft:registry=https://offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/registry/
@microsoft:always-auth=true

@fluid-internal:registry=https://offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/registry/
@fluid-internal:always-auth=true

@fluidframework:registry=https://offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/registry/
@fluidframework:always-auth=true
